<div class="link" style="margin: 3rem; text-align: center;">
  <a class="link__link" href="/login">Innskráning</a></br>
  <a class="link__link" href="/register" style="margin-top: 20px;">Nýskráning</a>
</div>
